{% extends layout %}

{% block content %}

    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# PvP #}
            <ul uk-accordion>
                <li class="uk-open">
                    <a class="uk-accordion-title uk-text-uppercase uk-text-bold uk-text-white"><i class="ra ra-axe"></i> PvP Statistics</a>
                    <span class="uk-label uk-text-bold uk-label-danger">TOP 20</span>
                    <div class="uk-accordion-content">
                        <ul uk-tab="connect: #pvpstatistics; animation: uk-animation-fade">
                            <?php foreach ($this->m_data->getRealms()->result() as $charsMultiRealm) { 
                                $multiRealm = $this->m_data->realmConnection($charsMultiRealm->username, $charsMultiRealm->password, $charsMultiRealm->hostname, $charsMultiRealm->char_database);
                            ?>
                                <li><a class="uk-text-bold uk-text-white"><span uk-icon="icon: server"></span> <?= $this->m_general->getRealmName($charsMultiRealm->realmID); ?></a></li>
                            <?php } ?>
                        </ul>
                        <ul id="pvpstatistics" class="uk-switcher">
                            <?php foreach ($this->m_data->getRealms()->result() as $charsMultiRealm) { 
                                $multiRealm = $this->m_data->realmConnection($charsMultiRealm->username, $charsMultiRealm->password, $charsMultiRealm->hostname, $charsMultiRealm->char_database);
                            ?>
                                <li>
                                    <div class="uk-overflow-auto uk-width-1-1 uk-margin">
                                        <table class="uk-table uk-table-divider uk-table-middle">
                                            <thead>
                                                <tr>
                                                    <th class="uk-width-small uk-text-white"><i class="fas fa-user"></i> Name</th>
                                                    <th class="uk-width-small uk-text-center uk-text-white"><i class="fas fa-flag"></i> Faction</th>
                                                    <th class="uk-width-small uk-text-center uk-text-white"><i class="fas fa-info-circle"></i> Total Kills</th>
                                                    <th class="uk-width-small uk-text-center uk-text-white"><i class="fas fa-crosshairs"></i> Today Kills</th>
                                                    <th class="uk-width-small uk-text-center uk-text-white"><i class="fas fa-crosshairs"></i> Yesterday Kills</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php foreach ($this->pvp_model->getTop20PVP($multiRealm)->result() as $tops) { ?>
                                                    <tr>
                                                        <td class="uk-text-white"><img class="uk-border-circle" src="<?= base_url('assets/images/races/').$this->m_general->getRaceIcon($tops->race) ?>" title="<?= $tops->name ?>"  width="30px" height="30px" uk-tooltip="pos: bottom"> <?= $tops->name ?></td>
                                                        <td class="uk-text-center"><img class="uk-border-circle" src="<?= base_url(); ?>assets/images/factions/<?= $this->m_general->getFaction($tops->race) ?>.png"></td>
                                                        <td class="uk-text-center uk-text-white"><?= $tops->totalKills ?></td>
                                                        <td class="uk-text-center uk-text-white"><?= $tops->todayKills ?></td>
                                                        <td class="uk-text-center uk-text-white"><?= $tops->yesterdayKills ?></td>
                                                    </tr>
                                                <?php } ?>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                            <?php } ?>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
