{% extends layout %}

{% block content %}

    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Panel #}
            <div class="uk-grid uk-grid-large" data-uk-grid>
                <div class="uk-width-1-6@l"></div>
                <div class="uk-width-2-3@l">
                    <div class="uk-text-center">
                        <div uk-lightbox>
                            <a href="<?= base_url('assets/images/profiles/').$this->m_data->getNameAvatar($this->m_data->getImageProfile($this->session->userdata('fx_sess_id'))); ?>">
                                <img class="uk-border-circle" src="http://eu.battle.net/forums/static/images/social-thumbs/wow.png" width="120" height="120" alt="" />
                            </a>
                        </div>
                        {#<div uk-lightbox>
                            <a href="<?= base_url('assets/images/profiles/default.png'); ?>">
                                <img class="uk-border-circle" src="http://eu.battle.net/forums/static/images/social-thumbs/wow.png" width="120" height="120" alt="" />
                            </a>
                        </div>#}
                        <div class="uk-space-small"></div>
                        <div class="uk-principal-title uk-text-white">Username</div>
                        <span class="uk-label">Last login in-game: 127.0.0.1</span>
                        <div class="uk-space-medium"></div>
                    </div>
                    <div class="uk-scrollspy-inview uk-animation-slide-bottom uk-text-white" uk-scrollspy-class="">
                        <div class="uk-column-1-2 uk-column-divider">
                            <div>
                                <p><i class="far fa-user-circle"></i> Account Rank: <span class="uk-label">Player</span>
                            </p>
                            </div>
                            <div>
                                <p><i class="far fa-credit-card"></i> Donor Points: <span class="uk-badge">10</span></p>
                            </div>
                        </div>
                        <div class="uk-column-1-2 uk-column-divider">
                            <div>
                                <p><i class="fas fa-globe"></i> Location: <span class="uk-label">Spain</span></p>
                            </div>
                            <div>
                                <p><i class="fas fa-star"></i> Vote Points: <span class="uk-badge">20</span></p>
                            </div>
                        </div>
                        <div class="uk-column-1-2 uk-column-divider">
                            <div>
                                <p><i class="fas fa-gamepad"></i> Expansion: <span class="uk-label">Legion</span></p>
                            </div>
                            <div>
                                <p><i class="far fa-clock"></i> Member since: <span class="uk-label">18-04-06</span></p>
                            </div>
                        </div>
                        <hr class="uk-divider-icon">
                        <div class="uk-column-1-2">
                            <div>
                                <a href="<?= base_url('vote'); ?>" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"><i class="fas fa-star"></i> Vote Panel</a>
                            </div>
                            <div>
                                <a href="<?= base_url('donate'); ?>" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"><i class="far fa-credit-card"></i> Donate Panel</a>
                            </div>
                        </div>
                        <div class="uk-column-1-2">
                            <div>
                                <a href="" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"><i class="fas fa-ticket-alt"></i> Support</a>
                            </div>
                            <div>
                                <a href="#" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" uk-toggle="target: #avatars"><i class="fas fa-camera"></i> Change Avatar</a>
                                {#<a href="#" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" uk-toggle="target: #personalinfo"><i class="far fa-user-circle"></i> Add Personal Information</a>#}
                            </div>
                        </div>
                        <div class="uk-column-1-2">
                            <div>
                                <a href="#" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" uk-toggle="target: #changePassword"><i class="fas fa-key"></i> Change Password</a>
                            </div>
                            <div>
                                <a href="#" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" uk-toggle="target: #changeEmail"><i class="far fa-envelope"></i> Change Email</a>
                            </div>
                        </div>
                        <hr class="uk-divider-icon">
                        <ul uk-accordion>
                            <li class="uk-open">
                                <h3 class="uk-accordion-title uk-text-white"><i class="fas fa-server"></i> Server Name</h3>
                                <div class="uk-accordion-content">
                                    <div class="uk-grid uk-grid-small uk-child-width-1-6 uk-flex-center" uk-grid>
                                        <div class="uk-text-center">
                                            <a href="<?= base_url('armory/player/'); ?><?= $chars->guid ?>/<?= $charsMultiRealm->realmID ?>">
                                                <img class="uk-border-circle" src="http://eu.battle.net/forums/static/images/social-thumbs/wow.png" title="Name (Lvl 120)" width="50" height="50" uk-tooltip>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="uk-width-1-6@l"></div>
            </div>
        </div>
    </div>

    {# Modal #}
    <div id="changePassword" uk-modal="bg-close: false">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-uppercase"><i class="fas fa-key"></i> Change Password</h2>
            </div>
            <form action="" method="post" accept-charset="utf-8">
                <div class="uk-modal-body">
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: unlock"></span>
                                <input class="uk-input" name="oldpass" type="password" required placeholder="Old Password">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                <input class="uk-input" name="newpass" type="password" required placeholder="New Password">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                <input class="uk-input" name="newpassr" type="password" required placeholder="Repeat Password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right actions">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="submit" name="button_changepass">Change</button>
                </div>
            </form>
        </div>
    </div>

    <div id="changeEmail" uk-modal="bg-close: false">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-uppercase"><i class="far fa-envelope"></i> Change Email</h2>
            </div>
            <form action="" method="post" accept-charset="utf-8">
                <div class="uk-modal-body">
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                <input class="uk-input" name="password" type="password" required placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
                                <input class="uk-input" name="oldemail" type="email" required placeholder="Old Email">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
                                <input class="uk-input" name="newemail" type="email" required placeholder="New Email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right actions">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="submit" name="button_changeemail">Change</button>
                </div>
            </form>
        </div>
    </div>

    <div id="avatars" uk-modal="bg-close: false">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-uppercase"><i class="fas fa-camera"></i> Change Avatar</h2>
            </div>
            <form action="" method="post" accept-charset="utf-8">
                <div class="uk-modal-body">
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <div class="uk-grid uk-grid-medium uk-child-width-1-5 uk-flex-center uk-text-center">
                                <?php foreach($this->user_model->getAllAvatars()->result() as $allAvts) { ?>
                                    <div class="col-sm-3">
                                        <img class="uk-border-rounded" src="<?= base_url('assets/images/profiles/'.$allAvts->name); ?>" width="100" height="100">
                                        <input type="radio" name="radioAvatars" checked value="<?= $allAvts->id ?>">
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right actions">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="submit" name="button_changeavatar">Change</button>
                </div>
            </form>
        </div>
    </div>

    <div id="personalinfo" uk-modal="bg-close: false">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-uppercase"><i class="far fa-user"></i> Add Personal Information</h2>
            </div>
            <form action="" method="post" accept-charset="utf-8">
                <div class="uk-modal-body">
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Username & Email</label>
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon" uk-icon="icon: hashtag"></span>
                                <input class="uk-input uk-width-1-1" type="text" placeholder="username" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                <input class="uk-input" type="text" placeholder="email" disabled>
                            </div>
                        </div>
                    </div>
                    <hr class="uk-divider-icon">
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">User Information</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" name="country_us">
                                <?php foreach($this->user_model->getCountry()->result() as $country_us) { ?>
                                    <option value="<?= $country_us->id; ?>"><?= $country_us->country_name ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" name="name_us" type="text" placeholder="First Name" required>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" name="surname_us" type="text" placeholder="Last Name" required>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Birth Date</label>
                        <div class="uk-grid-small" uk-grid>
                            <div class="uk-inline uk-width-1-4@s">
                                <div class="uk-form-controls">
                                    <select class="uk-select" name="day_us">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                </div>
                            </div>
                            <div class="uk-inline uk-width-1-2@s">
                                <div class="uk-form-controls">
                                    <select class="uk-select" name="month_us">
                                        <option value="1"><?= $this->lang->line('month_january'); ?></option>
                                        <option value="2"><?= $this->lang->line('month_february'); ?></option>
                                        <option value="3"><?= $this->lang->line('month_march'); ?></option>
                                        <option value="4"><?= $this->lang->line('month_april'); ?></option>
                                        <option value="5"><?= $this->lang->line('month_may'); ?></option>
                                        <option value="6"><?= $this->lang->line('month_june'); ?></option>
                                        <option value="7"><?= $this->lang->line('month_july'); ?></option>
                                        <option value="8"><?= $this->lang->line('month_august'); ?></option>
                                        <option value="9"><?= $this->lang->line('month_september'); ?></option>
                                        <option value="10"><?= $this->lang->line('month_october'); ?></option>
                                        <option value="11"><?= $this->lang->line('month_november'); ?></option>
                                        <option value="12"><?= $this->lang->line('month_december'); ?></option>
                                    </select>
                                </div>
                            </div>
                            <div class="uk-inline uk-width-1-4@s">
                                <input class="uk-input" type="number" name="year_us" pattern=".{4,4}" min="1936" max="2010" required title="4 characters" placeholder="Year">
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Security Question</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" id="form-stacked-select" name="question_us">
                                <?php foreach ($this->user_model->getQuestion()->result() as $question_us) { ?>
                                    <option value="<?= $question_us->id ?>"><?= $question_us->question; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon" uk-icon="icon: question"></span>
                                <input class="uk-input" name="answer_us" type="password" placeholder="Secret Answer" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right actions">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="submit" name="button_uppdateinfo">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
