{% extends layout %}

{% block content %}

    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Register #}
            <div class="uk-grid uk-grid-large" data-uk-grid>
                <div class="uk-width-1-5@l"></div>
                <div class="uk-width-3-5@l">
                    <h2 class="uk-text-primary uk-text-center"><i class="fas fa-user-plus"></i> Create a Account</h2>
                    <p class="uk-text-center uk-text-white">Fill out the form below to sign-up for a new account</p>

                    <form action="" method="post" accept-charset="utf-8">
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase uk-text-white">User Information</label>
                            <div class="uk-form-controls">
                                <select class="uk-select" name="reg_country">
                                    <option value="<?= $countrys->id; ?>">Country</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                                    <input class="uk-input" type="text" name="reg_firstname" pattern=".{2,}" required title="2 characters minimum" placeholder="First Name">
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                                    <input class="uk-input" type="text" name="reg_lastname" pattern=".{2,}" required title="2 characters minimum" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase uk-text-white">Birth Date</label>
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-inline uk-width-1-4@s">
                                    <div class="uk-form-controls">
                                        <select class="uk-select" name="reg_dateDayNace">
                                            <option value="1">1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-inline uk-width-1-2@s">
                                    <div class="uk-form-controls">
                                        <select class="uk-select" name="reg_dateMonthNace">
                                            <option value="1">January</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-inline uk-width-1-4@s">
                                    <input class="uk-input" type="number" name="reg_dateYearNace" pattern=".{4,4}" min="1936" max="2010" required title="4 characters" placeholder="Year">
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase uk-text-white">Login Information</label>
                            <div class="uk-form-controls">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: hashtag"></span>
                                    <input class="uk-input" type="text" name="reg_username" pattern=".{3,}" required title="3 characters minimum" placeholder="Username">
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                    <input class="uk-input" type="email" name="reg_email" required placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input class="uk-input" type="password" name="reg_password" pattern=".{5,}" required title="5 characters minimum" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input class="uk-input" type="password" name="reg_pascword" pattern=".{5,}" required title="5 characters minimum" placeholder="Repeat Password">
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase uk-text-white">Security Question</label>
                            <div class="uk-form-controls">
                                <select class="uk-select" name="reg_question">
                                    <option value="1">Questions</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: question"></span>
                                    <input class="uk-input" type="password" name="reg_SecretAnswer" pattern=".{1,}" required title="1 characters minimum" placeholder="Secret Answer">
                                </div>
                            </div>
                        </div>
                        {#<?php if($this->m_modules->getCaptcha() == 1) { ?>
                            <div class="uk-margin">
                                <?= $this->recaptcha->render(); ?>
                            </div>
                        <?php } ?>#}
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase uk-text-white">
                                <input class="uk-checkbox" name="terms_of_service" type="checkbox"  required> I accept the <a target="_blank" href="{{ base_url() }}">Terms and Conditions</a>.
                            </label>
                        </div>
                        <button class="uk-button uk-button-primary uk-width-1-1" type="submit" name="button_register"><i class="fas fa-user-plus"></i> Register</button>
                    </form>
                </div>
                <div class="uk-width-1-5@l"></div>
            </div>
        </div>
    </div>
{% endblock %}
