{% extends layout %}

{% block content %}

    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Donate #}
            <div class="uk-principal-title uk-text-center"><i class="fab fa-cc-paypal"></i> Donations</div>
            <div class="uk-space-medium"></div>
            <div class="uk-grid-small uk-grid-match uk-child-width-1-4@m uk-flex-center uk-text-center" uk-grid>
                <div>
                    <div class="uk-transition-toggle" tabindex="0">
                        <div class="uk-card uk-card-donate uk-card-body uk-transition-scale-up uk-transition-opaque">
                            <div class="icon-style uk-align-center">
                                <i class="fab fa-paypal"></i>
                            </div>
                            <p>
                                <span class="uk-h2"><span class="uk-text-bold">Donation Package</span><br><sup>$</sup>9.99</span>
                            </p>
                            <p>
                                <span class="uk-h5"><span uk-icon="icon: plus-circle"></span> Get <span class="uk-text-bold">100</span> Donor Points</span>
                            </p>
                            <form action="" method="post" accept-charset="utf-8">
                                <div class="uk-margin">
                                    <button class="uk-button uk-button-secondary" type="submit" value="<?= $donateList->id ?>" name="donateNow"><span uk-icon="icon: heart"></span> Donate</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-transition-toggle" tabindex="0">
                        <div class="uk-card uk-card-donate uk-card-body uk-transition-scale-up uk-transition-opaque">
                            <div class="icon-style uk-align-center">
                                <i class="fab fa-paypal"></i>
                            </div>
                            <p>
                                <span class="uk-h2"><span class="uk-text-bold">Donation Package</span><br><sup>$</sup>9.99</span>
                            </p>
                            <p>
                                <span class="uk-h5"><span uk-icon="icon: plus-circle"></span> Get <span class="uk-text-bold">100</span> Donor Points</span>
                            </p>
                            <form action="" method="post" accept-charset="utf-8">
                                <div class="uk-margin">
                                    <button class="uk-button uk-button-secondary" type="submit" value="<?= $donateList->id ?>" name="donateNow"><span uk-icon="icon: heart"></span> Donate</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-transition-toggle" tabindex="0">
                        <div class="uk-card uk-card-donate uk-card-body uk-transition-scale-up uk-transition-opaque">
                            <div class="icon-style uk-align-center">
                                <i class="fab fa-paypal"></i>
                            </div>
                            <p>
                                <span class="uk-h2"><span class="uk-text-bold">Donation Package</span><br><sup>$</sup>9.99</span>
                            </p>
                            <p>
                                <span class="uk-h5"><span uk-icon="icon: plus-circle"></span> Get <span class="uk-text-bold">100</span> Donor Points</span>
                            </p>
                            <form action="" method="post" accept-charset="utf-8">
                                <div class="uk-margin">
                                    <button class="uk-button uk-button-secondary" type="submit" value="<?= $donateList->id ?>" name="donateNow"><span uk-icon="icon: heart"></span> Donate</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-transition-toggle" tabindex="0">
                        <div class="uk-card uk-card-donate uk-card-body uk-transition-scale-up uk-transition-opaque">
                            <div class="icon-style uk-align-center">
                                <i class="fab fa-paypal"></i>
                            </div>
                            <p>
                                <span class="uk-h2"><span class="uk-text-bold">Donation Package</span><br><sup>$</sup>9.99</span>
                            </p>
                            <p>
                                <span class="uk-h5"><span uk-icon="icon: plus-circle"></span> Get <span class="uk-text-bold">100</span> Donor Points</span>
                            </p>
                            <form action="" method="post" accept-charset="utf-8">
                                <div class="uk-margin">
                                    <button class="uk-button uk-button-secondary" type="submit" value="<?= $donateList->id ?>" name="donateNow"><span uk-icon="icon: heart"></span> Donate</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
