{% extends layout %}

{% block content %}

    <div class="uk-section-slider">
        <div class="uk-section uk-background-cover uk-background-norepeat uk-background-center  uk-background-secondary uk-overflow-hidden uk-light uk-flex uk-flex-middle parallax-forum-header" uk-parallax="bgx: 0,-15" uk-height viewport="offset-top: true">
            <div class="uk-width-1-1">
                <div class="uk-container uk-container-large">
                    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
                        <div class="uk-width-1-1@m">
                            <div class="uk-grid-item-match">
                                <div>
                                    <h3 class="uk-margin-small uk-text-uppercase"><span uk-icon="icon: list; ratio: 1.7"></span> Topic Name</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Topic List #}
            <span class="uk-align-right">
                <a href="#" uk-toggle="target: #newTopic">
                    <button class="uk-button uk-button-primary"><i class="fas fa-pencil-alt"></i> New Topic</button>
                </a>
            </span>
            <p class="uk-text-uppercase uk-text-bold uk-text-white">Forum Topic List</p>
            <div class="uk-space-small"></div>
            <div class="Forum-ForumTopicList" uk-scrollspy="cls: uk-animation-fade; repeat: true">
                <a class="ForumTopic ForumTopic--sticky" style="border-color: #00aeff;" href="<?= base_url('forums'); ?>/topic/<?= $lists->id ?>">
                    <span class="ForumTopic-type">
                        <span uk-icon="icon: star"></span>
                    </span>
                    <span class="ForumTopic-details">
                        <span class="ForumTopic-heading">
                            <span class="ForumTopic-title--wrapper">
                                <span class="ForumTopic-title">
                                    Topic Name
                                </span>
                            </span>
                        </span>
                            <span class="ForumTopic-author ForumTopic-author-staff">Pepe</span>
                            {#<span class="ForumTopic-author">Pepe</span>#}
                        <span class="ForumTopic-timestamp">07-06-18</span>
                        <span class="ForumTopic-replies">
                            <span uk-icon="icon: commenting; ratio: 0.9"></span>&nbsp;1
                        </span>
                    </span>
                </a>
                <hr>
                <a class="ForumTopic" href="<?= base_url('forums'); ?>/topic/<?= $lists->id ?>">
                    <span class="ForumTopic-type">
                        <span uk-icon="icon: comments"></span>
                    </span>
                    <span class="ForumTopic-details">
                        <span class="ForumTopic-heading">
                            <span class="ForumTopic-title--wrapper">
                                <span class="ForumTopic-title">
                                    Topic Name
                                </span>
                            </span>
                        </span>
                            {#<span class="ForumTopic-author ForumTopic-author--blizzard">Pepe</span>#}
                            <span class="ForumTopic-author">Pepe</span>
                        <span class="ForumTopic-timestamp">07-06-18</span>
                        <span class="ForumTopic-replies">
                            <span uk-icon="icon: commenting; ratio: 0.9"></span>&nbsp;1
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>

    {# Modal #}
    <div id="newTopic" class="uk-modal-container" uk-modal="bg-close: false">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-uppercase"><i class="fas fa-pencil-alt"></i> Create New Topic</h2>
            </div>
            <form action="<?= base_url('forum/newTopic/'.$idlink); ?>" method="post" accept-charset="utf-8" autocomplete="off">
                <div class="uk-modal-body">
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Title</label>
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil"></span>
                                <input class="uk-input" name="topic_title" required type="text" placeholder="Title">
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Description</label>
                        <div class="uk-form-controls">
                            <div class="uk-width-1-1">
                                <textarea class="tinyeditor" name="topic_description" rows="10" cols="80"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <div class="uk-width-1-1 uk-text-center">
                                <label class="uk-form-label uk-text-uppercase"><input id="hightl" class="uk-checkbox" type="checkbox" name="check_highl" value="1"> Highlight</label>
                                <span class="uk-margin-left"></span>
                                <label class="uk-form-label uk-text-uppercase"><input id="llock" class="uk-checkbox" type="checkbox" name="check_lock" value="1"> Lock</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right actions">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="submit" name="button_createTopic">Create</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
