{% extends layout %}

{% block content %}

    <div class="uk-section-slider">
        <div class="uk-section uk-background-cover uk-background-norepeat uk-background-center  uk-background-secondary uk-overflow-hidden uk-light uk-flex uk-flex-middle parallax-forum-header" uk-parallax="bgx: 0,-15" uk-height viewport="offset-top: true">
            <div class="uk-width-1-1">
                <div class="uk-container uk-container-large">
                    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
                        <div class="uk-width-1-1@m">
                            <div class="uk-grid-item-match">
                                <div>
                                    <h3 class="uk-margin-small uk-text-uppercase"><span uk-icon="icon: comment; ratio: 1.7"></span> Topic Name</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Topic #}
            <div class="uk-card">
                <div class="uk-card-body">
                    <span class="uk-align-right">
                        <a href="#" class="uk-button uk-button-primary" uk-toggle="target: #editTopic"><i class="far fa-edit"></i> Edit Topic</a>
                    </span>
                    <div class="uk-grid uk-grid-small" data-uk-grid>
                        <div class="uk-width-1-5@s">
                            <div class="Author Author-staff">
                            {#<div class="Author">#}
                                <a href="<?= base_url('profile/'.$this->m_data->getIDAccount($this->m_data->getUsernameID($this->forum_model->getSpecifyPostAuthor($idlink)))); ?>" class="Author-avatar hasProfile">
                                        <img src="<?= base_url('assets/images/profiles/').$this->m_data->getNameAvatar($this->m_data->getImageProfile($this->forum_model->getSpecifyPostAuthor($idlink))); ?>" alt="" />
                                        {#<img src="<?= base_url('assets/images/profiles/default.png'); ?>" alt="" />#}
                                </a>
                                <div class="Author-details">
                                    <span class="Author-name">Author Name</span>
                                    <span class="Author-posts">
                                        <a class="Author-posts">Post Count 0</a>
                                    </span>
                                        <span class="Author-job">STAFF</span>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-4-5@s">
                            <div class="TopicPost-details">
                                <div class="Timestamp-details">
                                    <span class="TopicPost-timestamp">04-07-18</span>
                                </div>
                            </div>
                            <!-- colors -->
                                <div class="TopicPost-bodyContent" style="color: #<?= $this->config->item('staff_forum_color'); ?>;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                </div>
                                {#<div class="TopicPost-bodyContent" style="color: white;">
                                    <?= $this->forum_model->getSpecifyPostContent($idlink); ?>
                                </div>#}
                            <?php } ?>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="uk-divider-icon">

            {# Topic isn't login #}
            <div class="uk-space-medium"></div>
            <div class="uk-card">
                <div class="uk-card-body">
                    <div class="glass-section">
                        <div class="topicplaceholder">
                            <div class="topicplaceholder-header">
                                <h1 class="topicplaceholder-title uk-text-center"><span uk-icon="icon: comment; ratio: 2"></span> Join the Conversation</h1>
                            </div>
                            <div class="topicplaceholder-content">
                                <div class="topicplaceholder-details uk-align-center">
                                    <div class="topicplaceholder-message">Have something to say? Log in to join the conversation.</div>
                                    <a href="<?= base_url('login'); ?>">
                                        <button class="uk-button uk-button-primary"><i class="fas fa-sign-in-alt"></i> Log In</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-space-medium"></div>

            {# Topic Locked #}
            <div class="uk-space-medium"></div>
            <div class="uk-card">
                <div class="uk-card-body">
                    <div class="glass-section">
                        <div class="topicplaceholder">
                            <div class="topicplaceholder-header">
                                <h1 class="topicplaceholder-title uk-text-center"><span uk-icon="icon: lock; ratio: 2"></span> Not Authorized</h1>
                            </div>
                            <div class="topicplaceholder-content">
                                <div class="topicplaceholder-details uk-align-center">
                                    <div class="topicplaceholder-message">This topic is locked.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-space-medium"></div>

            {# Topic Comments #}
            <div class="uk-card">
                <div class="uk-card-body">
                    <div class="uk-grid uk-grid-small" data-uk-grid>
                        <div class="uk-width-1-5@s">
                            <div class="Author Author-staff">
                            {#<div class="Author">#}
                                <a href="<?= base_url('profile/'.$commentss->author); ?>" class="Author-avatar hasProfile">
                                    <img src="<?= base_url('assets/images/profiles/').$this->m_data->getNameAvatar($this->m_data->getImageProfile($commentss->author)); ?>" alt="" />
                                    {#<img src="<?= base_url('assets/images/profiles/default.png'); ?>" alt="" />#}
                                </a>
                                <div class="Author-details">
                                    <span class="Author-name">Author Name</span>
                                    <span class="Author-posts">
                                        <a href="" class="Author-posts">Post Count 0</a>
                                    </span>
                                        {#<span class="Author-job">STAFF</span>#}
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-4-5@s">
                            <div class="TopicPost-details">
                                <div class="Timestamp-details">
                                    <span class="TopicPost-timestamp">04-07-18</span>
                                </div>
                            </div>
                            {#<div class="TopicPost-bodyContent" style="color: #<?= $this->config->item('staff_forum_color'); ?>;">
                                <?= $commentss->commentary ?>
                            </div>#}
                            <div class="TopicPost-bodyContent" style="color: white;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                            </div>
                            <footer class="TopicPost-actions">
                                <form action="" method="post" accept-charset="utf-8">
                                    <p uk-margin>
                                        <button name="button_removecomment" type="submit" value="<?= $commentss->id ?>" class="uk-button uk-button-danger uk-button-small"><i class="fas fa-eraser"></i> Remove Comment</button>
                                    </p>
                                </form>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            {# Topic Comment Box #}
            <div class="uk-card">
                <div class="uk-card-body">
                    <div class="glass-section">
                        <div class="TopicForm is-editing">
                            <div class="TopicForm-header">
                                <h1 class="TopicForm-heading uk-text-center"><span uk-icon="icon: comment; ratio: 2"></span> Join the Conversation</h1>
                            </div>
                            <div class="TopicForm-content">
                                <form class="Form uk-align-center" method="post" action="" data-post-form="true" accept-charset="utf-8">
                                    <textarea class="tinyeditor" tabindex="1" spellcheck="true" name="reply_comment" rows="10" cols="80"></textarea>
                                    <button class="uk-button uk-button-primary uk-width-1-1" type="submit" name="button_addcommentary" id="submit-button"><i class="fas fa-reply"></i> Add Reply</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-space-medium"></div>
        </div>
    </div>

    {# Modal #}
    <div id="editTopic" class="uk-modal-container" uk-modal="bg-close: false">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-uppercase"><i class="fas fa-pencil-alt"></i> Edit Topic</h2>
            </div>
            <form action="" method="post" accept-charset="utf-8">
                <div class="uk-modal-body">
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Title</label>
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil"></span>
                                <input class="uk-input" name="edittopic_title" required value="topic title" type="text" placeholder="topic title">
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Description</label>
                        <div class="uk-form-controls">
                            <div class="uk-width-1-1">
                                <textarea class="tinyeditor" name="edittopic_description" rows="10" cols="80">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <div class="uk-width-1-1 uk-text-center">
                                <label class="uk-form-label uk-text-uppercase"><input id="hightl" class="uk-checkbox" type="checkbox" name="check_highl" value="1"> Highlight</label>
                                <span class="uk-margin-left"></span>
                                <label class="uk-form-label uk-text-uppercase"><input id="llock" class="uk-checkbox" type="checkbox" name="check_lock" value="1"> Lock</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right actions">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="submit" name="button_editTopic">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
