{% extends layout %}

{% block content %}

    <div class="uk-admin-content uk-section-xsmall">
        <div class="uk-container">
            {# Look Character #}
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span uk-icon="icon: user"></span> Character - Name</h4></div>
                            <div class="uk-width-expand uk-text-right">
                                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: info"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-grid uk-grid-small uk-child-width-1-3@s uk-margin" data-uk-grid>
                            <div>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-header uk-card-secondary uk-text-center uk-text-uppercase"><span uk-icon="icon: cog"></span> Change Level</div>
                                    <div class="uk-card-body">
                                        <form action="" method="post" accept-charset="utf-8">
                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <input class="uk-input" name="newLevel" type="number" min="1" max="120" placeholder="Level" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <button class="uk-button uk-button-primary uk-width-1-1" name="button_changeLevel" type="submit"><i class="fas fa-cog"></i> Change</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-header uk-card-secondary uk-text-center uk-text-uppercase"><span uk-icon="icon: cog"></span> Rename Character</div>
                                    <div class="uk-card-body">
                                        <form action="" method="post" accept-charset="utf-8">
                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <input class="uk-input" name="newName" type="text" placeholder="Rename" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <button class="uk-button uk-button-primary uk-width-1-1" name="button_renamechar" type="submit"><i class="far fa-edit"></i> Rename</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-header uk-card-secondary uk-text-center uk-text-uppercase"><span uk-icon="icon: cog"></span> Unban Character</div>
                                    <div class="uk-card-body">
                                        <form action="" method="post">
                                            <button class="uk-button uk-button-primary uk-width-1-1" name="button_unban" type="submit"><i class="fas fa-check-circle"></i> Unban</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-header uk-card-secondary uk-text-center uk-text-uppercase"><span uk-icon="icon: cog"></span> Ban Character</div>
                                    <div class="uk-card-body">
                                        <form action="" method="post" accept-charset="utf-8">
                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <input class="uk-input" name="banchar_reason" type="text" placeholder="Reason" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <button class="uk-button uk-button-danger uk-width-1-1" name="button_banchar" type="submit"><i class="fas fa-ban"></i> Ban</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-header uk-card-secondary uk-text-center uk-text-uppercase"><span uk-icon="icon: cog"></span> Customize Character</div>
                                    <div class="uk-card-body">
                                        <form action="" method="post">
                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <button class="uk-button uk-button-primary uk-width-1-1" name="button_customize" type="submit"><i class="fas fa-cog"></i> Customize</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-header uk-card-secondary uk-text-center uk-text-uppercase"><span uk-icon="icon: cog"></span> Change Race</div>
                                    <div class="uk-card-body">
                                        <form action="" method="post">
                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <button class="uk-button uk-button-primary uk-width-1-1" name="button_changerace" type="submit"><i class="fas fa-cog"></i> Change</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-header uk-card-secondary uk-text-center uk-text-uppercase"><span uk-icon="icon: cog"></span> Change Faction</div>
                                    <div class="uk-card-body">
                                        <form action="" method="post">
                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <button class="uk-button uk-button-primary uk-width-1-1" name="button_changefaction" type="submit"><i class="fas fa-cog"></i> Change</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-grid-small uk-child-width-1-3@s uk-margin" data-uk-grid>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header uk-card-secondary uk-text-center uk-text-uppercase"><span uk-icon="icon: list"></span> Annotations</div>
                        <div class="uk-card-body">
                            <ul class="uk-list uk-list-bullet">
                                <li>annotations</li>
                                <li>annotations</li>
                                <li>annotations</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
