{% extends layout %}

{% block content %}

    <div class="uk-admin-content uk-section-xsmall">
        <div class="uk-container">
            {# Website Settings #}
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span uk-icon="icon: settings"></span> Settings</h4></div>
                            <div class="uk-width-expand uk-text-right">
                                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: info"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                            <li><a href="#"><i class="fas fa-wrench"></i> Main Settings</a></li>
                            <li><a href="#"><i class="fas fa-wrench"></i> Website Settings</a></li>
                            <li><a href="#"><i class="fas fa-wrench"></i> Database Settings</a></li>
                        </ul>
                        <ul class="uk-switcher uk-margin">
                            <li>
                                <form action="" method="post" accept-charset="utf-8">
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">Base Site URL</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: cog"></span>
                                                <input class="uk-input" type="text" name="configURL" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">Default Language</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select" name="configLang">
                                                <option value="english">English</option>
                                                <option value="french">French</option>
                                                <option value="german">German</option>
                                                <option value="hungarian">Hungarian</option>
                                                <option value="portuguese">Portuguese</option>
                                                <option value="russian">Russian</option>
                                                <option value="spanish">Spanish</option>
                                                <option value="thai">Thai</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">Default Character Set</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: cog"></span>
                                                <input class="uk-input" type="text" name="configCharSet" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">Session Expiration</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: cog"></span>
                                                <input class="uk-input" type="text" name="configSessExpiration" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-form-controls">
                                            <button class="uk-button uk-button-primary uk-width-1-1" name="submitConfig" type="submit"><i class="fas fa-save"></i> Save Changes</button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li>
                                <form action="" method="post" accept-charset="utf-8">
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">Project Name</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: cog"></span>
                                                <input class="uk-input" type="text" name="fixcoreProjectName" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">Timezone</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: cog"></span>
                                                <input class="uk-input" type="text" name="fixcoreTimeZone" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">Discord ID</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: cog"></span>
                                                <input class="uk-input" type="text" name="fixcoreDiscordInv" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">Realmlist</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: cog"></span>
                                                <input class="uk-input" type="text" name="fixcoreRealmlist" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">Forum STAFF Color</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: cog"></span>
                                                <input class="uk-input" type="text" name="fixcoreStaffColor" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">Theme Name</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: cog"></span>
                                                <input class="uk-input" type="text" name="fixcoreTheme" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">Dev Navbar</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select" name="devnavbarfx">
                                                <option value="FALSE">FALSE</option>
                                                <option value="TRUE">TRUE</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-form-controls">
                                            <button class="uk-button uk-button-primary uk-width-1-1" name="submitFixCore" type="submit"><i class="fas fa-save"></i> Save Changes</button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li>
                                <form action="" method="post" accept-charset="utf-8">
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase"><strong>Website</strong> Database Hostname</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: database"></span>
                                                <input class="uk-input" type="text" name="databaseCmsHost" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase"><strong>Website</strong> Database Username</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: database"></span>
                                                <input class="uk-input" type="text" name="databaseCmsUser" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase"><strong>Website</strong> Database Password</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: database"></span>
                                                <input class="uk-input" type="text" name="databaseCmsPassword" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase"><strong>Website</strong> Database Name</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: database"></span>
                                                <input class="uk-input" type="text" name="databaseCmsName" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="uk-divider-icon">
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase"><strong>Auth</strong> Database Hostname</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: database"></span>
                                                <input class="uk-input" type="text" name="databaseAuthHost" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase"><strong>Auth</strong> Database Username</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: database"></span>
                                                <input class="uk-input" type="text" name="databaseAuthUser" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase"><strong>Auth</strong> Database Password</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: database"></span>
                                                <input class="uk-input" type="text" name="databaseAuthPassword" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase"><strong>Auth</strong> Database Name</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: database"></span>
                                                <input class="uk-input" type="text" name="databaseAuthName" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-form-controls">
                                            <button class="uk-button uk-button-primary uk-width-1-1" name="submitDatabase" type="submit"><i class="fas fa-save"></i> Save Changes</button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span uk-icon="icon: settings"></span> Module Settings</h4></div>
                            <div class="uk-width-expand uk-text-right">
                                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: info"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                            <li><a href="#"><i class="fas fa-cog"></i> Recaptcha Settings</a></li>
                            <li><a href="#"><i class="fas fa-cog"></i> Bugtracker Settings</a></li>
                            <li><a href="#"><i class="fas fa-cog"></i> Donate Settings</a></li>
                            <li><a href="#"><i class="fas fa-cog"></i> Store Settings</a></li>
                        </ul>
                        <ul class="uk-switcher uk-margin">
                            <li>
                                <form action="" method="post" accept-charset="utf-8">
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">Recaptcha Site Key</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: cog"></span>
                                                <input class="uk-input" type="text" name="recaptchaKey" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">Recaptcha Secret Key</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: cog"></span>
                                                <input class="uk-input" type="text" name="recaptchaPrivateKey" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">Recaptcha Lang</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: cog"></span>
                                                <input class="uk-input" type="text" name="recaptchaLang" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-form-controls">
                                            <button class="uk-button uk-button-primary uk-width-1-1" name="submitCaptcha" type="submit"><i class="fas fa-save"></i> Save Changes</button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li>
                                <form action="" method="post" accept-charset="utf-8">
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">Description Text</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-width-1-1">
                                                <textarea class="tinyeditor" name="bugtrackerText" rows="10" cols="80"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-form-controls">
                                            <button class="uk-button uk-button-primary uk-width-1-1" name="submitBugtracker" type="submit"><i class="fas fa-save"></i> Save Changes</button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li>
                                <form action="" method="post" accept-charset="utf-8">
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">PayPal Currency</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: cog"></span>
                                                <input class="uk-input" type="text" name="paypalCurrency" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">PayPal Mode</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select" name="paypalMode">
                                                <option value="sandbox">Sandbox</option>
                                                <option value="live">Live</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">PayPal Client ID</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: cog"></span>
                                                <input class="uk-input" type="text" name="paypalclientId" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">PayPal Secret Password</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: cog"></span>
                                                <input class="uk-input" type="text" name="paypalPassword" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-form-controls">
                                            <button class="uk-button uk-button-primary uk-width-1-1" name="submitDonate" type="submit"><i class="fas fa-save"></i> Save Changes</button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li>
                                <form action="" method="post" accept-charset="utf-8">
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-uppercase">Store Type</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select" name="storeType">
                                                <option value="1">Store with Images</option>
                                                <option value="2">Store with Icons</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-form-controls">
                                            <button class="uk-button uk-button-primary uk-width-1-1" name="submitStore" type="submit"><i class="fas fa-save"></i> Save Changes</button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
