{% extends layout %}

{% block content %}

    <div class="uk-admin-content uk-section-xsmall">
        <div class="uk-container">
            {# Manage Realms #}
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span uk-icon="icon: settings"></span> Manage Slides</h4></div>
                            <div class="uk-width-expand uk-text-right">
                                <a href="" class="uk-icon-link uk-margin-small-right" uk-icon="icon: cog" uk-toggle="target: #Slide"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-overflow-auto uk-width-1-1 uk-margin">
                            <table class="uk-table uk-table-justify uk-table-divider">
                                <thead>
                                    <tr>
                                        <th>Slide Title</th>
                                        <th class="uk-text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="uk-input" value="Title" disabled>
                                        </td>
                                        <td class="uk-text-center uk-margin">
                                            <form action="" method="post" accept-charset="utf-8">
                                                <button class="uk-button uk-button-danger" name="button_delSlide" value="<?= $slides->id ?>" type="submit"><i class="fas fa-trash-alt"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Modal #}
    <div id="Slide" uk-modal="bg-close: false">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-uppercase"><i class="far fa-image"></i> Add Image to Slide</h2>
            </div>
            <form action="" method="post" enctype="multipart/form-data" accept-charset="utf-8" autocomplete="off">
                <div class="uk-modal-body">
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Title</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" type="text" name="slide_title" placeholder="Title" required>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Upload Image</label>
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <div uk-form-custom="target: true">
                                    <input type="file" required name="slide_imageup">
                                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right actions">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="submit" name="button_createSlide">Create</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
