{% extends layout %}

{% block content %}

    <div class="uk-admin-content uk-section-xsmall">
        <div class="uk-container">
            {# Manage Categories #}
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span uk-icon="icon: list"></span> Manage Categories</h4></div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div id="categoryList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
