{% extends layout %}

{% block content %}

    <div class="uk-admin-content uk-section-xsmall">
        <div class="uk-container">
            {# Manage Accounts #}
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span uk-icon="icon: list"></span> Manage Accounts</h4></div>
                            <div class="uk-width-expand uk-text-right">
                                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: info"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div id="accounts">
                            <button class="uk-button uk-button-primary uk-button-small sort"data-sort="name">Sort by name</button>
                            <form class="uk-search uk-search-default uk-align-right">
                                <span uk-search-icon></span>
                                <input class="search uk-search-input uk-form-small" type="search" placeholder="Search...">
                            </form>
                            <div class="uk-overflow-auto uk-width-1-1 uk-margin">
                                <table class="uk-table uk-table-justify uk-table-divider">
                                    <thead>
                                        <tr>
                                            <th>Account Name</th>
                                            <th class="uk-text-center">Email</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        <tr>
                                            <td class="name">
                                                <a href="<?= base_url(); ?>admin/manageaccount/<?= $accs->id ?>">Name</a>
                                            </td>
                                            <td class="email uk-text-center">
                                                <a href="<?= base_url(); ?>admin/manageaccount/<?= $accs->id ?>">Email</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="name">
                                                <a href="<?= base_url(); ?>admin/manageaccount/<?= $accs->id ?>">2</a>
                                            </td>
                                            <td class="email uk-text-center">
                                                <a href="<?= base_url(); ?>admin/manageaccount/<?= $accs->id ?>">4</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="name">
                                                <a href="<?= base_url(); ?>admin/manageaccount/<?= $accs->id ?>">6</a>
                                            </td>
                                            <td class="email uk-text-center">
                                                <a href="<?= base_url(); ?>admin/manageaccount/<?= $accs->id ?>">8</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="name">
                                                <a href="<?= base_url(); ?>admin/manageaccount/<?= $accs->id ?>">10</a>
                                            </td>
                                            <td class="email uk-text-center">
                                                <a href="<?= base_url(); ?>admin/manageaccount/<?= $accs->id ?>">12</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="name">
                                                <a href="<?= base_url(); ?>admin/manageaccount/<?= $accs->id ?>">14</a>
                                            </td>
                                            <td class="email uk-text-center">
                                                <a href="<?= base_url(); ?>admin/manageaccount/<?= $accs->id ?>">16</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="name">
                                                <a href="<?= base_url(); ?>admin/manageaccount/<?= $accs->id ?>">18</a>
                                            </td>
                                            <td class="email uk-text-center">
                                                <a href="<?= base_url(); ?>admin/manageaccount/<?= $accs->id ?>">20</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="name">
                                                <a href="<?= base_url(); ?>admin/manageaccount/<?= $accs->id ?>">22</a>
                                            </td>
                                            <td class="email uk-text-center">
                                                <a href="<?= base_url(); ?>admin/manageaccount/<?= $accs->id ?>">24</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="pagination uk-pagination uk-flex-center" uk-margin></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var options = {
            valueNames: [ 'name', 'email' ],
            page: 3,
            pagination: true
        };
        var userList = new List('accounts', options);
    </script>
{% endblock %}
