{% extends layout %}

{% block content %}

    <div class="uk-admin-content uk-section-xsmall">
        <div class="uk-container">
            {# Manage Groups #}
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span uk-icon="icon: list"></span> Manage Groups</h4></div>
                            <div class="uk-width-expand uk-text-right">
                                <a href="" class="uk-icon-link uk-margin-small-right" uk-icon="icon: pencil" uk-toggle="target: #Group"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-overflow-auto uk-width-1-1 uk-margin">
                            <table class="uk-table uk-table-justify uk-table-divider">
                                <thead>
                                    <tr>
                                        <th>Group Title</th>
                                        <th class="uk-text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="uk-input" value="Title" disabled>
                                        </td>
                                        <td class="uk-text-center uk-margin">
                                            <a href="#" class="uk-button uk-button-primary"><i class="far fa-edit"></i></a>
                                            <span class="uk-margin-small-left"></span>
                                            <form action="" method="post" accept-charset="utf-8" class="uk-inline">
                                                <button class="uk-button uk-button-danger" name="button_deleteGroup" value="<?= $list->id ?>" type="submit"><i class="fas fa-trash-alt"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Modal #}
    <div id="Group" uk-modal="bg-close: false">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-uppercase"><i class="fas fa-boxes"></i> Create Group</h2>
            </div>
            <form action="" method="post" enctype="multipart/form-data" accept-charset="utf-8" autocomplete="off">
                <div class="uk-modal-body">
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Title</label>
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil"></span>
                                <input class="uk-input" name="group_name" required type="text" placeholder="Title of the Group">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right actions">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="submit" name="button_createGroup">Create</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
