{% extends layout %}

{% block content %}

    <div class="uk-section-muted">
        <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="animation: fade; autoplay: true; autoplay-interval: 5000; min-height: 200; max-height: 400;">
            <ul class="uk-slideshow-items">
                <li>
                    <img src="https://images2.alphacoders.com/159/159670.jpg" alt="" uk-cover>
                    <div class="uk-position-center-left uk-position-medium uk-text-center uk-light">
                        <h2 class="uk-margin-medium-left">BlizzCMS</h2>
                    </div>
                </li>
                <li>
                    <img src="https://images5.alphacoders.com/314/314806.jpg" alt="" uk-cover>
                    <div class="uk-position-center-left uk-position-medium uk-text-center uk-light">
                        <h2 class="uk-margin-medium-left">BlizzCMS</h2>
                    </div>
                </li>
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        </div>
    </div>
    <div class="uk-section-xsmall">
        <div class="uk-container">
            <div class="uk-grid uk-grid-medium" data-uk-grid>
                <div class="uk-width-2-3@m">
                    <div class="uk-card uk-card-default uk-margin">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">Title</h3>
                                    <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididuntLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididuntLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididuntLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididuntLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                        </div>
                        <div class="uk-card-footer">
                            <a href="#" class="uk-button uk-button-text uk-align-right">{{ readmore }}</a>
                        </div>
                    </div>
                    <div class="uk-card uk-card-default uk-margin">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">Title</h3>
                                    <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididuntLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididuntLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididuntLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididuntLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                        </div>
                        <div class="uk-card-footer">
                            <a href="#" class="uk-button uk-button-text uk-align-right">Read more</a>
                        </div>
                    </div>
                    <ul class="uk-pagination uk-flex-center" uk-margin>
                        <li><a href="#"><span uk-pagination-previous></span></a></li>
                        <li><a href="#">1</a></li>
                        <li class="uk-disabled"><span>...</span></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li class="uk-active"><span>7</span></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#"><span uk-pagination-next></span></a></li>
                    </ul>
                </div>
                <div class="uk-width-1-3@m">
                    <div class="uk-card uk-card-default uk-margin">
                        <div class="uk-card-header">
                            <i class="fas fa-server"></i> {{ status }}
                        </div>
                        <div class="uk-card-body">
                            <p><i class="fas fa-gamepad"></i> {{ realmlist }}</p>
                        </div>
                    </div>
                    <div class="uk-card uk-card-default uk-margin">
                        <div class="uk-card-header">
                            <i class="fab fa-discord"></i> Discord
                        </div>
                        <div class="uk-card-body">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
      var api_news = new Vue({
        el: '#list',
        data: {
            news: []
        },
        mounted: function(){
            this.getNews();
        },
        methods: {
          getNews: function() {
              then.(function(response){
                  api_news.list = response.data.news
              })
          }
        },
      })

    </script>

    {{ data | json_encode }}
{% endblock %}
